
        <!-- Nav -->
        <nav class="navbar navbar-expand-lg back_nav navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{{ path('app_welcome') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
{#                    <img src="{{ asset('favicon.png') }}" height="50" alt="Logo O'flix">  #}
          {#          <span class="header-logo__title text-uppercase mx-3">rasp.gif</span> #}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>
